<div class:list={[
    "prose max-w-[var(--paragraph-max-width)] mx-auto py-12",
    "prose-headings:text-primary",
    "prose-h2:before:content-['#_'] prose-h2:before:text-fg-brand-secondary",
    "prose-hr:border-primary",
    "prose-p:text-secondary prose-ul:text-secondary prose-ol:text-secondary prose-li:text-secondary",
    "prose-strong:text-primary",
    "prose-table:text-secondary prose-th:text-primary prose-thead:border-primary prose-tr:border-primary",
    "prose-code:text-secondary",
    "marker:text-fg-brand-secondary"
]}>
    <slot />
</div>