---
import Layout from "@/components/layouts/layout.astro";
import { ComponentSnippet } from "@/components/shared/component-snippet";
import { Button } from "@/components/ui/button";
---

<Layout>

	<ComponentSnippet>
		<Button>Click me!</Button>
		<Button variant="secondary">Click me!</Button>
	</ComponentSnippet>
	
	<ComponentSnippet className="mt-5 dark">
		<Button>Click me!</Button>
		<Button variant="secondary">Click me!</Button>
	</ComponentSnippet>

</Layout>